{% extends "base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock title %}

{% block body %}

<p>Bonjour, je m'appelle {{ utilisateur.prenom }} {{ utilisateur.nom|upper }}, et j'ai {{ utilisateur.age }} ans. Voici des plats que j'aime :</p>

<ul>
    {% for plat in utilisateur.plats %}
        <li>{{ plat.nom }}</li>
    {% endfor %}
</ul>

{% endblock %}