{% extends "base.html.twig" %}

{% block title %}
{{ voiture.marque}} {{ voiture.modele}}
{% endblock title %}

{% block body %}

<div class="grid grid-cols-3">
    {% if voiture.image %}
    <img src="/uploads/voitures/{{ voiture.image }}" alt="">
    {% else %}
    <img src="https://placehold.jp/500x500.jpg" alt="">
    {% endif %}

    <div class="col-span-2">
        <h1>
            {{ voiture.marque}} {{ voiture.modele}}
        </h1>
        
        <p>Cette voiture a {{ voiture.km }} km au compteur.</p>
        
        {% if voiture.utilisateur %}
        <p>Cette voiture appartient à {{ voiture.utilisateur.fullname }}.</p>
        {% endif %}
    </div>
</div>

{% endblock body %}